<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Themesindustry">
    <script src="static/js/echarts.min.js"></script>
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>Agency | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link href="static/image/favicon.ico" rel="icon">
    <!-- Bundle -->
    <link href="static/css/bundle.min.css" rel="stylesheet">
    <link href="static/css/revolution-settings.min.css" rel="stylesheet">
    <!-- Plugin Css -->
    <link href="static/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/swiper.min.css" rel="stylesheet">
    <link href="static/css/cubeportfolio.min.css" rel="stylesheet">
    <!-- Style Sheet -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body data-offset="90" data-spy="scroll" data-target=".navbar">

<!-- Preloader -->
<div class="preloader">
    <div class="box"></div>
</div>

<!-- Ink Transition -->
<div class="cd-transition-layer visible opening">
    <div class="bg-layer"></div>
</div>
<!--/Preloader -->

<!--Header Start-->
<header class="cursor-light">

    <!--Navigation-->
    <nav class="navbar navbar-top-default navbar-expand-lg navbar-gradient nav-icon alt-font">
        <div class="container">
            <a class="logo link scroll" href="javascript:void(0)" title="Logo">
                <!--Logo Default-->
                <img alt="logo" class="logo-dark default" src="static/picture/logo-white.png">
            </a>


            <!--Nav Links-->
            <div class="collapse navbar-collapse" id="agency">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link link" href="/index">首页</a>
                    <a class="nav-link link" href="/book">书籍</a>
                    <a class="nav-link link" href="/score">评分</a>
                    <a class="nav-link link" href="/clients">制作人员</a>
                    <a class="nav-link link" href="/wordcloud">词云</a>
                    <a class="nav-link link active" href="/code">Code</a>
                    <span class="menu-line"><i aria-hidden="true" class="fa fa-angle-down"></i></span>
                </div>
                <a class="btn btn-medium btn-rounded btn-transparent-white btn-hvr-white ml-3" data-animation-duration="500" data-fancybox="" data-src="#animatedModal" href="javascript:void(0);">Get A Quote
                    <div class="btn-hvr-setting">
                        <ul class="btn-hvr-setting-inner">
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                        </ul>
                    </div>
                </a>
            </div>

            <!--Menu Button-->
            <button class="fullnav-toggler link" id="full-menu-1" type="button">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>

            <!--Slider Social-->
            <div class="slider-social">
                <ul class="list-unstyled">
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!--Full menu-->
    <div class="nav-holder main style-2 alt-font">

        <!--Menu Button-->
        <button class="fullnav-close link" type="button">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="container">
            <div class="shape-left">
                <nav class="navbar full-menu-navigation left">
                    <ul class="list-unstyled">
                        <li><a class="link" href="/index">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">首页</span>
                        </a></li>
                        <li><a class="link" href="/book">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">书籍</span>
                        </a></li>
                        <li><a class="link" href="/score">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">评分</span>
                        </a></li>
                        <li><a class="link" href="/clients">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">制作人员</span>
                        </a></li>
                        <li><a class="link" href="/wordcloud">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">词云</span>
                        </a></li>
                        <li><a class="link" href="/code">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">Code</span>
                        </a></li>
                    </ul>
                    <span class="full-menu-dot" style="transform: scale(0);"></span>
                </nav>
                <img alt="shape" src="static/picture/shape-8.png">
            </div>
            <div class="shape-right">
                <div class="full-menu-detail hide-cursor">
                    <h6 class="title">Press Contact</h6>
                    <p><i class="fas fa-user-alt"></i>David Warrior</p>
                    <p><i class="fas fa-mobile-alt"></i>+97 53 49 24 78 36</p>
                    <p><i class="fas fa-envelope"></i>contact@megaone.com</p>
                </div>
                <img alt="shape" src="static/picture/shape-7.png">
            </div>
        </div>
    </div>

</header>
<!--Header End-->

<!--Counters Start-->
<section class="gradient-bg2" id="counters">
    <div class="container">
    </div>
</section>
<!--Counters End-->

<!--Blog Start-->
<section class="bg-light" id="blog">
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="heading-area mx-570 pb-lg-5 mb-5">
                    <h2 class="title mb-0">项目全部 <span class="alt-color js-rotating">代码</span> 展示

                        all code</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <!--Post-->
                <article class="blog-classic">

                    <h2 class="post-title"><a href="javascript:void(0);" rel="bookmark">Python爬虫代码</a></h2>

                    <div class="post-content" >
                        <div style=" overflow: scroll; height: 500px">
                          <p class="mb-5">
                          <pre>import sqlite3
from bs4 import BeautifulSoup
import re
import urllib.request, urllib.error
import xlwt


def main():
    print(&quot;Start...&quot;)
    dbpath = &#x27;../books.db&#x27;
    baseurl = &#x27;https://book.douban.com/top250?start=&#x27;
    datalist = getDate(baseurl)
    saveDataDB(datalist, dbpath)


#正则表达式
findLink = re.compile(r&#x27;&lt;a href=&quot;(.*?)&quot;.*?&gt;&#x27;)
findImgSrc = re.compile(r&#x27;&lt;img.*src=&quot;(.*?)&quot;&#x27;, re.S)
findTitle = re.compile(r&#x27;&lt;a .* title=&quot;(.*?)&quot;&gt;&#x27;)
findTitle_f = re.compile(r&#x27;(?!&lt;br/&gt;)\s*&lt;span style=&quot;font-size:12px;&quot;&gt;(.*?)&lt;/span&gt;&#x27;)
findTitle_s = re.compile(r&#x27;&lt;br/&gt;\s*&lt;span style=&quot;font-size:12px;&quot;&gt;(.*?)&lt;/span&gt;&#x27;)
findRating = re.compile(r&#x27;&lt;span class=&quot;rating_nums&quot;&gt;(.*)&lt;/span&gt;&#x27;)
findJurdge = re.compile(r&#x27;&lt;span class=&quot;pl&quot;&gt;\(\s*(\d*)人评价\s*\)&lt;/span&gt;&#x27;)
findInq = re.compile(r&#x27;&lt;span class=&quot;inq&quot;&gt;(.*)&lt;/span&gt;&#x27;)
findOther = re.compile(r&#x27;&lt;p class=&quot;pl&quot;&gt;(.*?)&lt;/p&gt;&#x27;, re.S)

def getDate(baseual):
    datalist = []

    for i in range(10):
        url = baseual + str(i * 25)
        html = askURL(url)
        print(&quot;开始解析第{}页...&quot;.format(i+1))
        soup = BeautifulSoup(html, &quot;html.parser&quot;)
        for item in soup.find_all(&#x27;tr&#x27;, class_=&#x27;item&#x27;):
            data = []
            item = str(item)

            #print(item)
            s_link = re.findall(findLink, item)[0]
            data.append(s_link)

            s_imgSrc = re.findall(findImgSrc, item)[0]
            data.append(s_imgSrc)

            s_title = re.findall(findTitle, item)[0]
            s_titlef = re.findall(findTitle_f, item)
            if len(s_titlef) &gt;= 1:
                s_title = s_title + s_titlef[0]
            data.append(s_title)

            s_titles = re.findall(findTitle_s, item)
            if len(s_titles) &gt;= 1:
                data.append(s_titles[0])
            else:
                data.append(&quot; &quot;)

            s_score = re.findall(findRating, item)[0]
            data.append(s_score)

            s_num = re.findall(findJurdge, item)[0]
            data.append(s_num)

            s_inq = re.findall(findInq, item)
            if len(s_inq) &gt;= 1:
                data.append(s_inq[0])
            else:
                data.append(&#x27; &#x27;)

            s_other = re.findall(findOther, item)[0]
            s_other = s_other.split(&#x27;/&#x27;)
            if len(s_other) &gt;= 1:
                author = s_other[0].replace(&#x27; &#x27;,&#x27;&#x27;)
                for i in range(1, len(s_other)-3):
                    author = author + &#x27;/&#x27; + s_other[i].replace(&#x27; &#x27;,&#x27;&#x27;)
                data.append(author)
                data.append(author)
                cbs = s_other[-3].replace(&#x27; &#x27;,&#x27;&#x27;)
                data.append(cbs)
                ti = s_other[-2].replace(&#x27; &#x27;,&#x27;&#x27;)
                data.append(ti)
                price = s_other[-1].replace(&#x27; &#x27;,&#x27;&#x27;)
                price = price.replace(&#x27;元&#x27;,&#x27;&#x27;) + &#x27;元&#x27;
                data.append(price)
            else:
                data.append(&#x27; &#x27;,&#x27; &#x27;,&#x27; &#x27;,&#x27; &#x27;)
            datalist.append(data)
            print(data)
    return datalist


def saveDataDB(datalist, DBpath):
    print(&quot;正在保存数据...&quot;)
    init_db(DBpath)
    conn = sqlite3.connect(DBpath)
    cur = conn.cursor()

    for data in datalist:
        for index in range(len(data)):
            if index == 4 or index == 5:
                continue
            data[index] = &#x27;&quot;&#x27; + data[index] + &#x27;&quot;&#x27;
        sql = &#x27;&#x27;&#x27;
            insert into Book250
            (
            info_link,pic_link,cname,fname,score,rated,instruction,authors,writer,publisher,time,price
            )
            values(%s)
        &#x27;&#x27;&#x27;%&quot;,&quot;.join(data)
        cur.execute(sql)
        conn.commit()
    cur.close()
    conn.close()


def init_db(DBpath):
    sql = &#x27;&#x27;&#x27;
        create table Book250
        (
        id integer primary key autoincrement,
        info_link text,
        pic_link text,
        cname text,
        fname text,
        score numeric,
        rated numeric,
        instruction text,
        authors text,
        writer text,
        publisher text,
        time text,
        price text
        )
    &#x27;&#x27;&#x27;

    conn = sqlite3.connect(DBpath)
    cursor = conn.cursor()
    cursor.execute(sql)
    conn.commit()
    cursor.close()
    conn.close()

def askURL(url):
    head = {
        &quot;User-Agent&quot;: &quot;Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.124 Safari/537.36 Edg/102.0.1245.44&quot;
    }
    request = urllib.request.Request(url, headers=head)
    html = &quot;&quot;
    try:
        response = urllib.request.urlopen(request)
        html = response.read().decode(&#x27;utf-8&#x27;)
        #print(html)
    except urllib.error.URLError as e:
        if hasattr(e, &quot;code&quot;):
            print(e.code)
        if hasattr(e, &quot;reason&quot;):
            print(e.reason)

    return html

if __name__ == &#x27;__main__&#x27;:
    main()
                          </pre>
                          </p>
                        </div>
                        <blockquote class="block-quote">
                          <p>
                            学习爬虫的过程中由于网页格式紊乱而倒回去学习正则表达式，最痛苦的是因为一个小问题找了一上午解决办法。
                          </p>
                        </blockquote>
                    </div>
                    
                    <h2 class="post-title"><a href="javascript:void(0);" rel="bookmark">Flask后端框架代码</a></h2>

                    <div class="post-content" >
                        <div style=" overflow: scroll; height: 500px">
                          <p class="mb-5">
                          <pre>from flask import Flask, render_template
import sqlite3

import markdown
import importlib


app = Flask(__name__)

@app.route(&quot;/index&quot;)
def index():
    return render_template(&quot;index.html&quot;)

@app.route(&quot;/&quot;)
def index1():
    return render_template(&quot;index.html&quot;)

@app.route(&quot;/book&quot;)
def book():
    datalist = []
    con = sqlite3.connect(&quot;../books.db&quot;)
    cur = con.cursor()
    sql = &quot;select * from Book250&quot;
    data = cur.execute(sql)
    for item in data:
        datalist.append(item)
    cur.close()
    con.close()

    return render_template(&quot;book.html&quot;, books = datalist)

@app.route(&quot;/score&quot;)
def score():
    score = []
    num = []
    con = sqlite3.connect(&quot;../books.db&quot;)
    cur = con.cursor()
    sql = &quot;select score,count(score) from Book250 group by score&quot;
    data = cur.execute(sql)
    for item in data:
        score.append(item[0])
        num.append(item[1])
    cur.close()
    con.close()
    return render_template(&quot;score.html&quot;, score = score, num = num)

@app.route(&quot;/wordcloud&quot;)
def wordcloud():
    return render_template(&quot;wordcloud.html&quot;)

@app.route(&quot;/clients&quot;)
def clients():
    return render_template(&quot;clients.html&quot;)

@app.route(&quot;/code&quot;)
def code():
    input_file = open(&quot;../mkd.md&quot;, mode=&quot;r&quot;, encoding=&quot;utf-8&quot;)
    text = input_file.read()
    mkd = markdown.markdown(text)
    return render_template(&quot;code.html&quot;)

@app.route(&quot;/test&quot;)
def test():
    return render_template(&quot;blog-details.html&quot;)

if __name__ == &#x27;__main__&#x27;:
    app.run(debug=True)
                          </pre>
                          </p>
                        </div>
                        <blockquote class="block-quote">
                          <p>
                            学习了一些Flas框架的基本应用，也被jinja2困扰了很久，最终放弃了jinja2。
                          </p>
                        </blockquote>
                    </div>

                    <h2 class="post-title"><a href="javascript:void(0);" rel="bookmark">WordCloud词云图生成代码</a></h2>

                    <div class="post-content" >
                        <div style=" overflow: scroll; height: 500px">
                          <p class="mb-5">
                          <pre>import jieba
from matplotlib import pyplot as plt
from wordcloud import WordCloud,ImageColorGenerator
from PIL import Image
import numpy as np
import sqlite3


con = sqlite3.connect(&#x27;../books.db&#x27;)
cur = con.cursor()
sql = &#x27;select instruction from Book250&#x27;
data = cur.execute(sql)
text = &quot;&quot;
for item in data:
    text = text + item[0]
cur.close()
con.close()

cut = jieba.cut(text)
string = &#x27; &#x27;.join(cut)
print(len(string))


img = Image.open(r&#x27;static/file/picture.png&#x27;)
img_array = np.array(img)
wc = WordCloud(
    background_color=&#x27;white&#x27;,
    width=4000,
    height=2000,
    mask=img_array,
    max_font_size=None,
    font_path=&quot;msyh.ttc&quot;,
    contour_width=8,
    contour_color=&#x27;#66ccff&#x27;
)
wc.generate_from_text(string)


fig = plt.figure(1)
plt.imshow(wc)
plt.axis(&#x27;off&#x27;)

plt.savefig(r&#x27;static/file/word.png&#x27;,dpi=800)
                          </pre>
                          </p>
                        </div>
                        <blockquote class="block-quote">
                          <p>
                            应用词云组件生成词云图，顺带使用了jieba库。
                          </p>
                        </blockquote>
                    </div>

                    <div class="footer-meta">
                        <div class="row">
                            <div class="col-6">
                                <div class="post-tags">
                                <span class="post_meta_item post_tags"><a href="javascript:void(0);" rel="tag">Image</a>
                                    <a href="javascript:void(0);" rel="tag">Project</a>
                                    <a href="javascript:void(0);" rel="tag">Studio</a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                
                <!--Author-->
                <div class="agency-author">
                    <div class="author-avatar">
                    <img alt="image" src="static/picture/author.jpg" class="avatar"></div>
                    <div class="author-content">
                        <span class="text-small">Written By</span>
                        <h6><a href="javascript:void(0);">李昊阳</a></h6>
                        <div class="author-description">
                            <p>在繁华中沉淀自我，在乱世中静静伫立，一笔一划，雕刻时光<br/> —— Henry_Huang</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="agency-widget" id="secondary" role="complementary">

                    <h3 class="widget-title">目录</h3>
                    <ul>
                    <li class="cat-item"><a href="javascript:void(0);">Python爬虫代码</a> <span class="dots"></span><span class="counts"></span></li>
                    <li class="cat-item"><a href="javascript:void(0);">Flask后端框架代码</a> <span class="dots"></span><span class="counts"></span></li>
                    <li class="cat-item"><a href="javascript:void(0);">WordCloud词云图生成代码</a> <span class="dots"></span><span class="counts"></span></li>
                    </ul>
                    <aside class="widget widget_media_image"><a href="javascript:void(0);"><img src="static/picture/advertisment.jpg" class="add-image" alt="image"></a></aside>
                    </div><!-- #secondary -->
            </div>
        </div>
    </div>
</section>
<!--Blog End-->


<!--Footer Start-->
<footer class="footer-style-1 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <!--Social-->
            <div class="col-md-6">
                <div class="footer-social">
                    <ul class="list-unstyled">
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-linkedin-in"></i></a></li>
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--Text-->
            <div class="col-md-6 text-md-right">
                <p class="company-about fadeIn">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Animated Cursor-->
<div id="aimated-cursor">
    <div id="cursor">
        <div id="cursor-loader"></div>
    </div>
</div>
<!--Animated Cursor End-->

<!--Scroll Top Start-->
<span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
<!--Scroll Top End-->

<!-- JavaScript -->
<script src="static/js/bundle.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- Plugin Js -->
<script src="static/js/jquery.appear.js"></script>
<script src="static/js/jquery.fancybox.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/swiper.min.js"></script>
<script src="static/js/morphext.min.js"></script>
<script src="static/js/TweenMax.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="static/js/jquery.themepunch.tools.min.js"></script>
<script src="static/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="static/js/revolution.extension.actions.min.js"></script>
<script src="static/js/revolution.extension.carousel.min.js"></script>
<script src="static/js/revolution.extension.kenburn.min.js"></script>
<script src="static/js/revolution.extension.layeranimation.min.js"></script>
<script src="static/js/revolution.extension.migration.min.js"></script>
<script src="static/js/revolution.extension.migration.min.js"></script>
<script src="static/js/revolution.extension.parallax.min.js"></script>
<script src="static/js/revolution.extension.slideanims.min.js"></script>
<script src="static/js/revolution.extension.video.min.js"></script>
<!-- google map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script> -->
<script src="static/js/map.js"></script>
<!-- custom script -->
<script src="static/js/contact_us.js"></script>
<script src="static/js/script.js"></script>

</body>
</html>