<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>Agency | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link href="static/image/favicon.ico" rel="icon">
    <!-- Bundle -->
    <link href="static/css/bundle.min.css" rel="stylesheet">
    <link href="static/css/revolution-settings.min.css" rel="stylesheet">
    <!-- Plugin Css -->
    <link href="static/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/swiper.min.css" rel="stylesheet">
    <link href="static/css/cubeportfolio.min.css" rel="stylesheet">
    <!-- Style Sheet -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- CSS only -->
</head>

<body data-offset="90" data-spy="scroll" data-target=".navbar">

<!-- Preloader -->
<div class="preloader">
    <div class="box"></div>
</div>

<!-- Ink Transition -->
<div class="cd-transition-layer visible opening">
    <div class="bg-layer"></div>
</div>
<!--/Preloader -->

<!--Header Start-->
<header class="cursor-light">

    <!--Navigation-->
    <nav class="navbar navbar-top-default navbar-expand-lg navbar-gradient nav-icon alt-font">
        <div class="container">
            <a class="logo link scroll" href="javascript:void(0)" title="Logo">
                <!--Logo Default-->
                <img alt="logo" class="logo-dark default" src="static/picture/logo-white.png">
            </a>


            <!--Nav Links-->
            <div class="collapse navbar-collapse" id="agency">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link link active" href="/index">首页</a>
                    <a class="nav-link link" href="/book">书籍</a>
                    <a class="nav-link link" href="/score">评分</a>
                    <a class="nav-link link" href="/clients">制作人员</a>
                    <a class="nav-link link" href="/wordcloud">词云</a>
                    <a class="nav-link link" href="/code">Code</a>
                    <span class="menu-line"><i aria-hidden="true" class="fa fa-angle-down"></i></span>
                </div>
                <a class="btn btn-medium btn-rounded btn-transparent-white btn-hvr-white ml-3" data-animation-duration="500" data-fancybox="" data-src="#animatedModal" href="javascript:void(0);">Get A Quote
                    <div class="btn-hvr-setting">
                        <ul class="btn-hvr-setting-inner">
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                        </ul>
                    </div>
                </a>
            </div>

            <!--Menu Button-->
            <button class="fullnav-toggler link" id="full-menu-1" type="button">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>

            <!--Slider Social-->
            <div class="slider-social">
                <ul class="list-unstyled">
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!--Full menu-->
    <div class="nav-holder main style-2 alt-font">

        <!--Menu Button-->
        <button class="fullnav-close link" type="button">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="container">
            <div class="shape-left">
                <nav class="navbar full-menu-navigation left">
                    <ul class="list-unstyled">
                        <li><a class="link" href="/index">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">首页</span>
                        </a></li>
                        <li><a class="link" href="/book">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">书籍</span>
                        </a></li>
                        <li><a class="link" href="/score">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">评分</span>
                        </a></li>
                        <li><a class="link" href="/clients">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">制作人员</span>
                        </a></li>
                        <li><a class="link" href="/wordcloud">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">词云</span>
                        </a></li>
                        <li><a class="link" href="/code">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">Code</span>
                        </a></li>
                    </ul>
                    <span class="full-menu-dot" style="transform: scale(0);"></span>
                </nav>
                <img alt="shape" src="static/picture/shape-8.png">
            </div>
            <div class="shape-right">
                <div class="full-menu-detail hide-cursor">
                    <h6 class="title">Press Contact</h6>
                    <p><i class="fas fa-user-alt"></i>David Warrior</p>
                    <p><i class="fas fa-mobile-alt"></i>+97 53 49 24 78 36</p>
                    <p><i class="fas fa-envelope"></i>contact@megaone.com</p>
                </div>
                <img alt="shape" src="static/picture/shape-7.png">
            </div>
        </div>
    </div>

</header>
<!--Header End-->

<!--Counters Start-->
<section class="gradient-bg2" id="counters">
    <h1>'</h1>
    <h1></h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pl-lg-4 order-lg-2 wow fadeInRight">
                <div class="heading-area">
                    <span class="sub-title text-white">豆瓣读书Top250</span>
                    <h2 class="title text-white">这里是对数据的<span class="js-rotating">分析, 展示</span>.
                    </h2>
                    <p class="para text-white">本项目综合运用了Python爬虫、Flask框架、Echarts、WordCloud等技术，对数据进行分析和直观展示。</p>
                </div>
                <ul class="counter-list list-unstyled">
                    <li class="counter-item">
                        <i aria-hidden="true" class="fas fa-users text-white"></i>
                        <h6 class="counter-number text-white"><span class="count">250</span></h6>
                        <p class="sub-title text-white">经典书籍</p>
                    </li>
                    <li class="counter-item">
                        <i aria-hidden="true" class="fas fa-list-alt text-white"></i>
                        <h6 class="counter-number text-white"><span class="count">300</span>+</h6>
                        <p class="sub-title text-white">代码行</p>
                    </li>
                    <li class="counter-item">
                        <i aria-hidden="true" class="fa fa-calculator text-white"></i>
                        <h6 class="counter-number text-white"><span class="count">4000</span>+</h6>
                        <p class="sub-title text-white">词汇统计</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 wow fadeInLeft">
                <div class="half-img mt-5 pt-4 mt-lg-0 pt-lg-0">
                    <img alt="vector" src="static/picture/vector-art-3.png">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counters End-->

<!--Services Start-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="/book">
                    <div class="process-wrapp">
                        <span class="pro-step pink"><i aria-hidden="true" class="fas fa-file"></i></span>
                        <h4 class="service-heading">数据档案</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/code">
                    <div class="process-wrapp">
                        <span class="pro-step midnight"><i aria-hidden="true" class="fas fa-code"></i></span>
                        <h4 class="service-heading">代码展示</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/score">
                    <div class="process-wrapp">
                        <span class="pro-step purple"><i aria-hidden="true" class="fas fa-star"></i></span>
                        <h4 class="service-heading">评分</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/word">
                    <div class="process-wrapp">
                        <span class="pro-step blue"><i aria-hidden="true" class="fas fa-cloud"></i></span>
                        <h4 class="service-heading">词云</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--Services End-->

<!--Portfolio Start-->
<section class="cube-portfolio1 text-center no-transition" id="portfolio">
    <div class="container">
        <!--Row-->
        <div class="row wow fadeIn">
            <div class="col-md-12">
                <!--Portfolio Items-->
                <div class="cbp cbp-l-grid-mosaic-flat" id="js-grid-mosaic-flat">

                    
                    <div class="cbp-item seo marketing">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/活着.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-2" src="static/picture/活着.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item seo marketing">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/1984.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-4" src="static/picture/1984.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item graphic seo marketing">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/百年孤独.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-3" src="static/picture/百年孤独.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design graphic">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/三体全集.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-5" src="static/picture/三体全集.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item seo marketing graphic ">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/飘.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-6" src="static/picture/飘.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design seo">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/哈利波特.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-7" src="static/picture/哈利波特.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design graphic">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/房思琪的初恋乐园.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-8" src="static/picture/房思琪的初恋乐园.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design graphic">
                        <a class="cbp-caption cbp-lightbox" href="static/picture/红楼梦.jpg">
                            <div class="cbp-caption-defaultWrap">
                                <img alt="port-8" src="static/picture/红楼梦.jpg">
                            </div>
                            <div class="cbp-caption-activeWrap"></div>
                            <div class="cbp-l-caption-alignCenter center-block">
                                <div class="cbp-l-caption-body">
                                    <div class="plus"></div>
                                    <h5 class="text-white mb-1">Latest Work</h5>
                                    <p class="text-white">See Our Amazing Work</p>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Portfolio End-->

<!--Footer Start-->
<footer class="footer-style-1 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <!--Social-->
            <div class="col-md-6">
                <div class="footer-social">
                    <ul class="list-unstyled">
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--Text-->
            <div class="col-md-6 text-md-right">
                <p class="company-about fadeIn">Copyright &copy; 2022.Company name All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Animated Cursor-->
<div id="aimated-cursor">
    <div id="cursor">
        <div id="cursor-loader"></div>
    </div>
</div>
<!--Animated Cursor End-->

<!--Scroll Top Start-->
<span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
<!--Scroll Top End-->

<!-- JavaScript -->
<script src="static/js/bundle.min.js"></script>
<!-- Plugin Js -->

<script src="static/js/jquery.appear.js"></script>
<script src="static/js/jquery.fancybox.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/swiper.min.js"></script>
<script src="static/js/morphext.min.js"></script>
<script src="static/js/TweenMax.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="static/js/jquery.themepunch.tools.min.js"></script>
<script src="static/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="static/js/revolution.extension.actions.min.js"></script>
<script src="static/js/revolution.extension.carousel.min.js"></script>
<script src="static/js/revolution.extension.kenburn.min.js"></script>
<script src="static/js/revolution.extension.layeranimation.min.js"></script>
<script src="static/js/revolution.extension.migration.min.js"></script>
<script src="static/js/revolution.extension.migration.min.js"></script>
<script src="static/js/revolution.extension.parallax.min.js"></script>
<script src="static/js/revolution.extension.slideanims.min.js"></script>
<script src="static/js/revolution.extension.video.min.js"></script>
<!-- google map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script> -->
<script src="static/js/map.js"></script>
<!-- custom script -->
<script src="static/js/contact_us.js"></script>
<script src="static/js/script.js"></script>

</body>
</html>