<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Themesindustry">
    <script src="static/js/echarts.min.js"></script>
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>Agency | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link href="static/image/favicon.ico" rel="icon">
    <!-- Bundle -->
    <link href="static/css/bundle.min.css" rel="stylesheet">
    <link href="static/css/revolution-settings.min.css" rel="stylesheet">
    <!-- Plugin Css -->
    <link href="static/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/swiper.min.css" rel="stylesheet">
    <link href="static/css/cubeportfolio.min.css" rel="stylesheet">
    <!-- Style Sheet -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body data-offset="90" data-spy="scroll" data-target=".navbar">

<!-- Preloader -->
<div class="preloader">
    <div class="box"></div>
</div>

<!-- Ink Transition -->
<div class="cd-transition-layer visible opening">
    <div class="bg-layer"></div>
</div>
<!--/Preloader -->

<!--Header Start-->
<header class="cursor-light">

    <!--Navigation-->
    <nav class="navbar navbar-top-default navbar-expand-lg navbar-gradient nav-icon alt-font">
        <div class="container">
            <a class="logo link scroll" href="javascript:void(0)" title="Logo">
                <!--Logo Default-->
                <img alt="logo" class="logo-dark default" src="static/picture/logo-white.png">
            </a>


            <!--Nav Links-->
            <div class="collapse navbar-collapse" id="agency">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link link" href="/index">首页</a>
                    <a class="nav-link link" href="/book">书籍</a>
                    <a class="nav-link link" href="/score">评分</a>
                    <a class="nav-link link" href="/clients">制作人员</a>
                    <a class="nav-link link active" href="/wordcloud">词云</a>
                    <a class="nav-link link" href="/code">Code</a>
                    <span class="menu-line"><i aria-hidden="true" class="fa fa-angle-down"></i></span>
                </div>
                <a class="btn btn-medium btn-rounded btn-transparent-white btn-hvr-white ml-3" data-animation-duration="500" data-fancybox="" data-src="#animatedModal" href="javascript:void(0);">Get A Quote
                    <div class="btn-hvr-setting">
                        <ul class="btn-hvr-setting-inner">
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                            <li class="btn-hvr-effect"></li>
                        </ul>
                    </div>
                </a>
            </div>

            <!--Menu Button-->
            <button class="fullnav-toggler link" id="full-menu-1" type="button">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>

            <!--Slider Social-->
            <div class="slider-social">
                <ul class="list-unstyled">
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
                    <li class="animated-wrap"><a class="animated-element" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!--Full menu-->
    <div class="nav-holder main style-2 alt-font">

        <!--Menu Button-->
        <button class="fullnav-close link" type="button">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="container">
            <div class="shape-left">
                <nav class="navbar full-menu-navigation left">
                    <ul class="list-unstyled">
                        <li><a class="link" href="/index">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">首页</span>
                        </a></li>
                        <li><a class="link" href="/book">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">书籍</span>
                        </a></li>
                        <li><a class="link" href="/score">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">评分</span>
                        </a></li>
                        <li><a class="link" href="/clients">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">制作人员</span>
                        </a></li>
                        <li><a class="link" href="/wordcloud">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">词云</span>
                        </a></li>
                        <li><a class="link" href="/code">
                            <span class="anchor-circle"></span>
                            <span class="anchor-text">Code</span>
                        </a></li>
                    </ul>
                    <span class="full-menu-dot" style="transform: scale(0);"></span>
                </nav>
                <img alt="shape" src="static/picture/shape-8.png">
            </div>
            <div class="shape-right">
                <div class="full-menu-detail hide-cursor">
                    <h6 class="title">Press Contact</h6>
                    <p><i class="fas fa-user-alt"></i>David Warrior</p>
                    <p><i class="fas fa-mobile-alt"></i>+97 53 49 24 78 36</p>
                    <p><i class="fas fa-envelope"></i>contact@megaone.com</p>
                </div>
                <img alt="shape" src="static/picture/shape-7.png">
            </div>
        </div>
    </div>

</header>
<!--Header End-->

<!--Counters Start-->
<section class="gradient-bg2" id="counters">
    <div class="container">
    </div>
</section>
<!--Counters End-->

<!--Blog Start-->
<section class="bg-light" id="blog">
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="heading-area mx-570 pb-lg-5 mb-5">
                    <h2 class="title mb-0">豆瓣读书<span class="alt-color js-rotating">关键词</span>词云图
                        
                        everyone updated</h2>
                </div>
            </div>
        </div>
        <div>
          <img alt="wordcloud" src="../static/file/word.png">
        </div>
        
        <div id="chart-1" style="height: 45vw"></div>
        
    </div>
</section>
<!--Blog End-->


<!--Footer Start-->
<footer class="footer-style-1 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <!--Social-->
            <div class="col-md-6">
                <div class="footer-social">
                    <ul class="list-unstyled">
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-twitter"></i></a></li>
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-linkedin-in"></i></a></li>
                        <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
                        <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--Text-->
            <div class="col-md-6 text-md-right">
                <p class="company-about fadeIn">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Animated Cursor-->
<div id="aimated-cursor">
    <div id="cursor">
        <div id="cursor-loader"></div>
    </div>
</div>
<!--Animated Cursor End-->

<!--Scroll Top Start-->
<span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
<!--Scroll Top End-->


<script type="text/javascript">
var chartDom = document.getElementById('chart-1');
var myChart = echarts.init(chartDom);
var option;

option = {
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross',
      crossStyle: {
        color: '#999'
      }
    }
  },
  toolbox: {
    feature: {
      dataView: { show: true, readOnly: false },
      magicType: { show: true, type: ['line', 'bar'] },
      restore: { show: true },
      saveAsImage: { show: true }
    }
  },
  legend: {
    data: ['score', 'count']
  },
  xAxis: [
    {
      type: 'category',
      data: {{ score }},
      axisPointer: {
        type: 'shadow'
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      name: 'score',
      min: 6,
      max: 10,
      interval: 1
    },
    {
      type: 'value',
      name: 'count',
      min: 0,
      max: 50,
      interval: 5
    }
  ],
  series: [
    {
      name: 'score',
      type: 'bar',
      tooltip: {
        valueFormatter: function (value) {
          return value;
        }
      },
      data: {{ score }}
    },
    {
      name: 'count',
      type: 'line',
      stack: 'Total',
      smooth: true,
      yAxisIndex: 1,
      lineStyle: {
        width: 0
      },
      showSymbol: false,
      areaStyle: {
        opacity: 0.8,
        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
          {
            offset: 0,
            color: 'rgb(128, 255, 165)'
          },
          {
            offset: 1,
            color: 'rgb(1, 191, 236)'
          }
        ])
      },
      emphasis: {
        focus: 'series'
      },
      tooltip: {
        valueFormatter: function (value) {
          return value;
        }
      },
      data: {{ num }}
    }
  ]
};

option && myChart.setOption(option);

</script>
<!-- JavaScript -->
<script src="static/js/bundle.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- Plugin Js -->
<script src="static/js/jquery.appear.js"></script>
<script src="static/js/jquery.fancybox.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/swiper.min.js"></script>
<script src="static/js/morphext.min.js"></script>
<script src="static/js/TweenMax.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/jquery.cubeportfolio.min.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="static/js/jquery.themepunch.tools.min.js"></script>
<script src="static/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="static/js/revolution.extension.actions.min.js"></script>
<script src="static/js/revolution.extension.carousel.min.js"></script>
<script src="static/js/revolution.extension.kenburn.min.js"></script>
<script src="static/js/revolution.extension.layeranimation.min.js"></script>
<script src="static/js/revolution.extension.migration.min.js"></script>
<script src="static/js/revolution.extension.migration.min.js"></script>
<script src="static/js/revolution.extension.parallax.min.js"></script>
<script src="static/js/revolution.extension.slideanims.min.js"></script>
<script src="static/js/revolution.extension.video.min.js"></script>
<!-- google map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script> -->
<script src="static/js/map.js"></script>
<!-- custom script -->
<script src="static/js/contact_us.js"></script>
<script src="static/js/script.js"></script>

</body>
</html>